* {
    margin: 0px;
    padding: 0;
}

body {
    width: 88%;
    height: 0;
    background-image: url(images/back_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    line-height: 1.2;

}

header .caixa {
    display: flex;
    justify-content: space-around;
    height: 75px;
    margin: 1px 165px 0 -30px;
}

.home {
    border-radius: 2px;
    position: relative;
    padding: 20px; 
}
.home::before{
    content: "";
    position: absolute;
    top: -10px; left: -10px;
    right: -10px; bottom: -10px;
    background: transparent; 
    z-index: -1;

}
.home:hover::before{
    background: #E87E04;
}

.inicio a {
    color: #fff;
    font-weight:700;
    position: relative;
    top: -182px;
    left: 739px;
    z-index: 4;
    padding: 12px 5px 12px 5px;
    font-size: 29px;
    text-shadow: 0px -1px 11px rgba(13 12 12 / 98%);
    text-decoration: none;
    margin-left: 42px;
    font-family:sans-serif;
}

.container nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: aliceblue;
    font-weight: bold;
    font-size: 36px;
    margin: -62px 58px -1px 0;
    font-family: sans-serif;
}

.logo img {
    display: flex;
    height: 355px;
    width: 468px;
    justify-content: space-evenly;
    margin: -67px 0px -64px 167px;
    position: relative;
}

.começo img {
    opacity:18%;
    transform: translate(55%, -303%);
    width: 62%;
    height: 25%;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    margin: -61px 6px -52px -1px;
    padding: 4px;
    word-spacing: -6px;
    letter-spacing: 2px;
    background: #6c318d;
    margin-top: 0px;
    width: 113.2%;
    height: 30vh;
    font-family: sans-serif;
}

.festa img {
    width: 97%;
    height: 0%;
    margin: -187px 0px -1px 129px;
  
}

.fotos {
    max-width: 104%;
    display: flex;
    background-color: #9d3bce;
    padding: 80px 0px 39px 185px;
    width: 102.6%;

}

.fotos img {
    width: 22%;
    padding: 13px;
   margin:2px 21px -29px -26px;
}

.principal {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    transform: translate(10%, 149%);
    font-family: sans-serif;
    letter-spacing: 2px;
}

.balao {
    display: flex;
    padding: 21px 0px 45px 547px;
    width: 50%;
    height: 37%;
    object-fit: cover;
}

.trabalho {

    color: #fff;
    font-size: 32px;
    margin: -173px 6px 63px 617px;
}

.bexigas {
    display: flex;
    height: 82px;
    margin: -164px 0px 23px 111px;

}

.palavras {
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    margin: -108px 88px 26px 1082px;
    line-height: 1.2;
}

.azul {
    width: 25%;
    height: 34%;
    margin: -83px 124px 184px 1230px;
}

.azul img{
    width: 47px;
}

.direitos {
    color: #fff;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    margin: -3px 0px 30px 93px;
}

.QI {
    color: #fff;
    font-size: 27px;
    display: flex;
    margin: 0px 0px -39px 89px;

}

.desenvolvido img {
    margin: -14px 0px -3px 315px;
    width: 6%;
    height: 0%;
}

.facebook {
    display: flex;
    margin: -115px 9px 0px -515px;
    justify-content: center;
    width: 25%;
    height: 11%;
    transform: translate(210%, 0%);
   
}

.h3{
    color: #fff;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: -61px 0px 0px 0px;
   
}

.h3:hover{
    color:blue;
   }

 .telefone:hover{
  color:blue;
   }
.telefone {
    color: #fff;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: -56px 143px 0px 0px;
}

footer {
    background: #6c318d;
    margin-top: 0px;
    width: 113.6%;
    height: 55vh;

}